%section.show_event
  .row
    .col-md-6
      %h2 Menu-builder
      %h4 Drag items to your event or
      %h4
        = form_for @item, html: { class: "form-inline", :role => "form" } do |f|
          .form-group
            = f.text_field :name, placeholder: "add something else", class: 'form-control'
            = hidden_field_tag 'event_id', @event.id
          %button.btn.btn-primary{:type => "submit"} +
    .col-md-6
      %h4= @event.name
      
      %ul.list-unstyled.unclaim_square.droppable.sortable
        - @event.items.each do |item|
          %li
            %span.label.label-primary.draggable
              = item.name
  / Nav tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#bbq"} BBQ
    %li
      %a{"data-toggle" => "tab", :href => "#picnic"} Picnic
    %li
      %a{"data-toggle" => "tab", :href => "#extra"} Extra
  / Tab panes
  .tab-content
    #bbq.tab-pane.active BBQ items coming soon!
    #picnic.tab-pane Picnic items coming soon!
    #extra.tab-pane Don't forget the cutlery.. coming soon!
  %br
  %br
  %hr
  
    .col-md-4.col-md-offset-1
      %br
      .item_trash.droppable.hidden
        .glyphicon.glyphicon-trash
