%section.show_event
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2
            = @event.name
          %h3
            = "Hosted by #{@event.host_name}"
        %table.table.table-striped
          %thead
            %tr
              %th(width="30%") Name
              %th(width="15%") Items
          %tbody
            %tr
              %td
                %a#username{"data-name" => "owner_name", "data-original-title" => "Enter your name", "data-type" => "text", "data-url" => "/events/#{@event.slug}/items/#{@event.items.first.id}", :href => "#"}
                  = @event.items.first.owner_name

              %td
                = @event.items.first.name
  %hr
  .row
    .col-sm-3.col-sm-offset-1
      = form_for [@event, @item], html: { id: "form-inline", :role => "form" } do |f|
        .form-group
          = f.text_field :owner_name, placeholder: "Martha", class: 'form-control'
        .form-group
          = f.text_field :name, placeholder: "milk", class: 'form-control'
        %button.btn.btn-primary{:type => "submit"} Add

:javascript
  $(function(){
      $('#username').editable({
          title: 'Enter username',
          ajaxOptions: {
            dataType: 'json',
            type: 'PUT'
        },
        pk: 1
      });
  });
