%section.show_event
  .row
    .col-md-6
      %article
        %header
          %h2
            = @event.name
          %h3
            = "Hosted by #{@event.host_name}"
        %br
      .unclaim_square.droppable
        - @event.items.each do |item|
          %span.label.label-primary.draggable
            = item.name
      %br
      .row
        .col-md-7
          = form_for [@event, @item], html: { class: "form-inline", :role => "form" } do |f|
            .form-group
              = f.text_field :name, placeholder: "cheese", class: 'form-control'
            %button.btn.btn-primary{:type => "submit"} +
    .col-md-6
      %ul.list-unstyled
        - @event.claims.each do |claim|
          %li.row
            %h5.claim_name.col-md-2.col-md-offset-1
              = claim.username
            .claim_square.col-md-3.droppable
              - claim.items.each do |item|
                %span.label.label-primary.draggable
                  = item.name
      %br
      .row
        .col-md-10.col-md-offset-1
          = form_for [@event, @claim], html: { class: "form-inline", :role => "form" } do |f|
            .form-group
              = f.text_field :username, placeholder: "Martha", class: 'form-control'
            %button.btn.btn-primary{:type => "submit"} Count me in!

:javascript
  $(function(){
      $.fn.editable.defaults.mode = 'inline';
      $('#claimed a').editable({
          ajaxOptions: {
            dataType: 'json',
            type: 'PUT'
        }
      });
  });
